<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading">DNP Lab in Grenoble</h2>
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">Subhradip Paul</li><li><a class="u-email" href="mailto:subhradip.paul.sp@gmail.com">subhradip.paul.sp@gmail.com</a></li></ul>
        <a href="https://nmr-dnp-grenoble.net/home/" target="_blank"><img src="{{ "docs/assets/images/reservedparam2.jpg" | prepend: site.baseurl | prepend: site.url}}" ></a>
        </div>
  
        <div class="footer-col footer-col-2"><ul class="social-media-list"></ul>
        </div>
  
        <div class="footer-col footer-col-3">
          <p>This page contains instructions for you to set up experiments or to sort out issues in the lab. They might help you and prevent you from running around like a headless chicken. Please give feedbacks and how to improve the website.</p>
        </div>
      </div>
  
    </div>
  
  </footer>